@font-face {
  font-family: "Sunn Bold";
  src: url("/fonts/sunn-bold.woff") format("woff")
}

@font-face {
  font-family: "Sunn Regular";
  src: url("/fonts/sunn-regular.woff") format("woff")
}

@font-face {
  font-family: "Garet Medium";
  src: url("/fonts/garet-medium.woff2") format("woff2")
}

@font-face {
  font-family: "Garet Regular";
  src: url("/fonts/garet-regular.woff2") format("woff2")
}

:root {
  --c-gray-light: #9E9E9E;
  --c-gray-mid: #454545;
  --c-gray-dark: #333333;
  --c-active-1: #99DDAC;
  --s-base: 480px;
}

::selection {
  background-color: #FFDFCD;
}

body {
  font-family: "Garet Regular", sans-serif;
  font-feature-settings: "ss03";
  text-align: center;
  padding-bottom: 320px;
  overflow-x: hidden!important;
  margin: 0!important;
} 

html {
  margin: 0;
}

a {
  color: var(--c-active-1);
  text-decoration: underline;
}

a:hover {
  text-decoration: underline wavy;
}

h1, h2, h3 {
  font-weight: inherit;
  color: var(--c-gray-mid);
}


h1 {
  text-transform: uppercase;
  font-size: 64px;
  font-family: "Sunn Regular", sans-serif;
  margin-top: -24px;
  font-weight: normal;
}

h1 span {
  color: #CDCDCD;
  font-size: 94px;
  padding: 0 8px;
  display: inline-block;
  transform: translateY(8px);
}

h2 {
  font-family: "Sunn Bold", sans-serif;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 40px;
}

h3 {
  font-size: 32px;
  font-family: "Sunn Regular", sans-serif;
  margin: 0;
  font-weight: normal;
}

.button {
  height: 52px;
  border-radius: 8px;
  border: 1px solid #99DDAC;
  background: #BAF3CA;
  color: var(--c-gray-dark);
  font-family: "Garet Medium", sans-serif;
  font-size: 16px;
  padding: 0 24px;
}

.button:hover {
  cursor: pointer;
  background-color: #A0EFB6;
}

.block-common {
  margin-top: 120px;
}

.block-info {
  width: var(--s-base);
  margin: 0 auto;
}

.block-info h2 {
  width: auto;
  display: inline-block;
}

.block-info p {
  text-align: left;
  color: #545454;
}

.block-info img {
  margin-top: 32px;
}

.form-email {
  text-align: left;
  margin-top: 24px;
}

.form-email label {
  display: block;
  font-family: "Garet Medium", sans-serif;
  margin-bottom: 4px;
  color: var(--c-gray-mid);
}

.form-email input {
  box-sizing: border-box;
  height: 52px;
  border-radius: 8px;
  padding-left: 4px;
  min-width: 280px;
  border: 1px solid var(--c-gray-mid);
  font-family: "Garet Regular", sans-serif;
  font-size: 18px;
}

.form-email button {
  margin-left: 8px;
}

.form-email input:focus {
  outline-color: #99DDAC;
  outline-width: 1px;
}


.util-pseudo {
  position: relative;
}

.util-pseudo::before {
  left: -78px;
  top: 24px;
  content: '';
  position: absolute;
  display: block;
  height: 16px;
  width: 69px;
  transform: rotate(180deg);
  background: url("/img/pseudo.svg") no-repeat;
}

.util-pseudo::after {
  right: -78px;
  top: 24px;
  content: '';
  position: absolute;
  display: block;
  height: 16px;
  width: 69px;
  background: url("/img/pseudo.svg") no-repeat;
}

.portrait {
  position: relative;
  height: 420px;
  margin: 56px 0 32px 0;
  overflow: hidden;
}

.portrait svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
}


#base-mask {
  transform-origin: center center;
  animation: mask-rotate 60s infinite linear;
}

@keyframes mask-rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(560deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


#p-fat-stroke {
  position: relative;
  transform-origin: center center;
  transform: rotate(90deg);
  z-index: 1000;
  animation: fat-stroke-ani 55s infinite linear;
}

#p-img {
  width: 352px;
  height: 340px;
  /*clip-path: url(#clip-mask);*/
}

@keyframes fat-stroke-ani {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(490deg);
  }
  100% {
    transform: rotate(90deg); 
  }
}

#p-deco-stroke {
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: deco-stroke 120s infinite linear;
}

@keyframes deco-stroke {
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  60% {
      transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
}

.email-success h2 {
  margin-top: 120px;
  margin-bottom: 0;
}

.email-success p {
  text-align: center;
}

@media screen and (max-width: 740px) {
  :root {
    --s-base: 100%;
  }

  body {
    width: 100vw;
  }

  .util-pseudo::after,
  .util-pseudo::before {
    display: none;
  }

  h1 {
    font-size: 48px;
  }

  h1 span {
    font-size: 72px;
  }


  h3 {

  }

  .block-info {
    padding: 0 24px;
    box-sizing: border-box;
  }

  .block-info input {
    width: 100%;
    min-width: unset;
  }

  .block-info .button {
    margin: 16px 0;
    width: 100%
  }


}






/*

liga: standard ligatures
dlig: discretionary ligatures
onum: old style figures
lnum: lining figures
tnum: tabular figures
zero: slashed zero
frac: fractions
sups: superscript
subs: subscript
smcp: small caps
c2sc: small capitals from capitals
case: case-sensitive forms
hlig: historical ligatures
calt: contextual alternates
swsh: swashes
hist: historical forms
ss**: stylistic sets
kern: kerning
locl: localized forms
rlig: required ligatures
medi: medial forms
init: initial forms
isol: isolated forms
fina: final forms
mark: mark
mkmk mark-to-mark positioning
*/