---
layout: layouts/main
title: "Успешно абониране"
---
<div class="block-info email-success">
	<h2>Готово!</h2>
	<p>Успешно се абонирахте за известия. <br>Ще получите email веднага щом има новости.</p>
	<a href="/">< Обратно</a>
</div>
