<div class="block-info">
	<h2 class="util-pseudo">Още информация скоро</h2>
	<p>През май и юни, тук ще намерите повече инфорация за осигуреният транспорт и нощувки.</p>
	<p>Абонирайте се за известия, ако искате да получите email когато това се случи!</p>
	<img src="img/div.svg" alt="">
	<div class="form-email">
		<label for="email">Email</label>
		<input type="email" id="email">
		<button class="button">АБОНИРАЙ СЕ</button>
	</div>
</div>