<div class="block-info">
	<h2 class="util-pseudo">Още информация скоро</h2>
	<p>През май и юни, тук ще намерите повече инфорация за осигуреният транспорт и нощувки.</p>
	<p>Абонирайте се за известия, ако искате да получите email когато това се случи!</p>
	<img src="img/div.svg" alt="">
	<div class="form-email">
		<form class="js-cm-form" id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="191722FC90141D02184CB1B62AB3DC260FDB3F7FEA8D439DAF18D31EA6DE1E60B24F5E0E7A956E1A22D512036C2E9C87D8C5DA973DA47118185484224DC37898">
			<label for="fieldEmail">Email</label>
			<input autoComplete="Email" aria-label="Email" id="fieldEmail" maxLength="200" name="cm-jrukthr-jrukthr" required type="email" class="js-cm-email-input qa-input-email sc-iwsKbI iMsgpL" />
			<button class="button js-cm-submit-button sc-iAyFgw efTFaG" type="submit">
			АБОНИРАЙ СЕ</button>
		</form>
	</div>
</div>