<div class="block-info">
	<h2 class="util-pseudo">{{ title }}</h2>
</div>

<div class="block-remote">
	<h3>Поканени сте на сватбата на</h3>
	<h1>Даниела<span>&</span>Тодор</h1>
</div>

{% include "components/portrait" %}

<div class="block-details">
	<strong>1 Юли 2022, Петък</strong>
	<a href="/img/diditodor.ics" target="_blank">Добави в календар ></a>
	<img src="/img/div3.svg" alt="decorative divider image">
	<strong>Hills Brewery, град&nbsp;Перущица</strong>
	<a href="https://www.google.com/maps/place/Hills+Brewery/@42.0660872,24.5430808,16z/data=!4m5!3m4!1s0x14acc0b53cb7c46d:0xda53b8e118a06849!8m2!3d42.066278!4d24.545818" target="_blank">Виж локация ></a>
	<br>
	<br>
	<br>
	<a href="/img/invite.pdf" target="_blank" class="button">СВАЛИ ПОКАНАТА</a>
</div>