<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>

	<meta name="description" content=" ">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- <link rel="alternate icon" href="/img/favicon.png"> -->

	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

	{{ content }}

</body>
<!-- <script defer data-domain="panev.net" src="https://plausible.io/js/plausible.js"></script> -->
<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>

</html>